{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Email repeat
{% endblock %}

{% block header %}
    Repeat email
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="post" action="{% url 'accounts:repeat_activate' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-3 text-center">
                    <label>Enter your email:
                        <input name="email" type="email">
                    </label>
                        <input class="btn btn-outline-primary" type="submit" value="Send">

                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}